{
  "extends": ["daangemist"],
  "env": {
    "browser": true,
    "node": true,
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.dev.json",
  },
  "rules": {
    "curly": "error",
    "no-console": "error",
    "@typescript-eslint/consistent-type-imports": "error",
    "unicorn/explicit-length-check": "off", // It conflicts with attribute name size
    "unicorn/number-literal-case": "off",
    "no-debugger": "error",
  },
  "ignorePatterns": ["*.config.{ts,js}", "src/demo/demo.ts"],
  "overrides": [
    {
      "files": ["src/**/*.test.ts", "test/setup.ts"],
      "rules": {
        "import/no-extraneous-dependencies": [
          "error",
          {
            "devDependencies": true,
            "optionalDependencies": false,
            "peerDependencies": false,
            "bundledDependencies": false,
          },
        ],
      },
    },
  ],
}
