{
  "extends": ["daangemist"],
  "env": {
    "browser": true,
    "node": true,
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
  },
  "rules": {
    "curly": "error",
    "no-console": "error",
    "@typescript-eslint/consistent-type-imports": "error",
    "unicorn/explicit-length-check": "off", // It conflicts with attribute name size
    "unicorn/number-literal-case": "off",
  },
}
